APP_BASE_URL="http://localhost:9000"
COOKIE_SECRET="L98NdvpCOg3NJTffS0qml3KrFg7PTTgt"
JWT_SECRET="pcuNw0ukfqUuRL1XW8qU7QUvis0fWjkw"
LOG_EVERYWHERE="yes"
NODE_ENV="development"
PINO_LOG_LEVEL="info"
PORT="9000"
